apiVersion: mcing.kmdkuk.com/v1alpha1
kind: Minecraft
metadata:
  name: {{ .Name }}
spec:
  whitelist:
    enabled: true
    users:
      - kmdkuk
  ops:
    users:
      - kmdkuk
  podTemplate:
    spec:
      containers:
{{ template "minecraft-container" . }}
  serviceTemplate:
    spec:
      type: NodePort
  volumeClaimTemplates:
    - metadata:
        name: minecraft-data
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: standard
        resources:
          requests:
            storage: 1Gi
