apiVersion: v1
kind: ConfigMap
metadata:
  name: datapack-autopause-props
data:
  server-port: "12345"
---
apiVersion: mcing.kmdkuk.com/v1alpha1
kind: Minecraft
metadata:
  name: autopause
spec:
  serverPropertiesConfigMapName: datapack-autopause-props
  autoPause:
    enabled: true
    timeoutSeconds: 30
  podTemplate:
    spec:
      containers:
{{ template "minecraft-container" . }}
  volumeClaimTemplates:
    - metadata:
        name: minecraft-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 1Gi
