apiVersion: mcing.kmdkuk.com/v1alpha1
kind: Minecraft
metadata:
  name: {{ .Name }}
spec:
  autoPause:
    enabled: false
{{- if .RconPasswordSecretName }}
  rconPasswordSecretName: {{ .RconPasswordSecretName }}
{{- end }}
  podTemplate:
    spec:
      containers:
{{ template "minecraft-container" . }}
  volumeClaimTemplates:
    - metadata:
        name: minecraft-data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: 1Gi
