name: CI
on:
  pull_request:
  push:
    branches:
      - "main"
permissions:
  contents: read
jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      src: ${{ steps.filter.outputs.src }}
    steps:
      - uses: actions/checkout@v6
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: .github/filters.yaml

  build:
    needs: changes
    if: ${{ needs.changes.outputs.src == 'true' || startsWith(github.head_ref, 'release/v') }}

    name: Build binaries
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - uses: aquaproj/aqua-installer@v4.0.4
        with:
          aqua_version: v2.56.5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: make build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  test:
    needs: changes
    if: ${{ needs.changes.outputs.src == 'true' || startsWith(github.head_ref, 'release/v') }}

    name: Small tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - uses: aquaproj/aqua-installer@v4.0.4
        with:
          aqua_version: v2.56.5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: make test
      - run: make check-generate
  e2e:
    name: End-to-End Tests
    strategy:
      matrix:
        k8s-version:
          - "1.34.3" # renovate: kindest/node
          - "1.33.7" # renovate: kindest/node
          - "1.32.11" # renovate: kindest/node
    runs-on: ubuntu-24.04
    needs: changes
    if: ${{ needs.changes.outputs.src == 'true' || startsWith(github.head_ref, 'release/v') }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - uses: aquaproj/aqua-installer@v4.0.4
        with:
          aqua_version: v2.56.5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: make start KUBERNETES_VERSION=${{ matrix.k8s-version }}
        working-directory: e2e
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: make test
        working-directory: e2e
      - run: make logs
        working-directory: e2e
        if: always()
      - uses: actions/upload-artifact@v6
        if: always()
        with:
          name: logs-${{ matrix.k8s-version }}.tar.gz
          path: e2e/logs.tar.gz

  e2e-status:
    name: E2E Status
    if: always()
    needs: e2e
    runs-on: ubuntu-latest
    steps:
      - name: Check e2e matrix status
        if: ${{ needs.e2e.result != 'success' && needs.e2e.result != 'skipped' }}
        run: exit 1

  tilt:
    name: Run tilt ci
    needs: changes
    if: ${{ needs.changes.outputs.src == 'true' || startsWith(github.head_ref, 'release/v') }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - uses: aquaproj/aqua-installer@v4.0.4
        with:
          aqua_version: v2.56.5
          aqua_opts: ""
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: make start
      - run: tilt ci
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  dry-run-release:
    name: Dry-run release
    needs: changes
    if: ${{ needs.changes.outputs.src == 'true' || startsWith(github.head_ref, 'release/v') }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - uses: aquaproj/aqua-installer@v4.0.4
        with:
          aqua_version: v2.56.5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: GoReleaser
        run: make dry-run-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
