name: Book
on:
  pull_request:
  push:
    branches:
      - "main"
jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      docs: ${{ steps.filter.outputs.docs }}
    steps:
      - uses: actions/checkout@v6
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: .github/filters.yaml

  build:
    needs: changes
    if: ${{ needs.changes.outputs.docs == 'true' || startsWith(github.head_ref, 'release/v') }}

    name: Build book
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: aquaproj/aqua-installer@v4.0.4
        with:
          aqua_version: v2.56.5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: make book
      - uses: actions/upload-artifact@v6
        with:
          name: book
          path: docs/book
          retention-days: 1
  publish:
    name: Publish book on GitHub Pages
    runs-on: ubuntu-24.04
    needs: build
    steps:
      - uses: actions/checkout@v6
        with:
          ref: gh-pages
      - run: rm -rf *
      - uses: actions/download-artifact@v7
        with:
          name: book
      - run: ls -R
      - run: git add .
      - name: Check diff
        run: |
          diffs=$(git status -s)
          if [ "$diffs" = "" ]; then
            echo "NO_DIFF=1" >> $GITHUB_ENV
          else
            printf "%s\n" "$diffs"
          fi
      - name: Commit changes
        if: env.NO_DIFF != '1'
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git commit -m 'update'
      - name: Push to gh-pages
        if: github.ref == 'refs/heads/main' && env.NO_DIFF != '1'
        run: git push origin gh-pages
